include AUTHORS
include cmt*
#recursive-include config *
include config/cmt.cfg
include sara_cmt/logging.conf
include sara_cmt/apache/django.wsgi
recursive-include templates/examples header *.cmt
exclude sara_cmt/settings_db.py
