include AUTHORS CHANGES README
include bin/cmt
recursive-include etc *
#include sara_cmt/apache/django.wsgi
recursive-include templates/examples header *.cmt
#exclude sara_cmt/settings_db.py # only comment out during testing
