[info]
description   : 'This is the commandline interface of the SURFsara package CMT.'

[loglevels]
# Only messages with level of LOGLEVEL or higher will be logged
CRITICAL  : 50
ERROR     : 40
WARNING   : 30
INFO      : 20
DEBUG     : 10
NOTSET    : 0

[defaults]
DRYRUN      : False
INTERACTIVE : True
LOGLEVEL    : INFO
VERBOSE     : False

[database]
ENGINE    : postgresql_psycopg2
NAME      : sara_cmt
USER      : cmt
#PASSWORD  : <set_me>
HOST      : cmt.osd.surfsara.nl
#PORT      : <optional>
=======
#TEST_NAME : sara_cmt_test

[web]
DOMAIN    : surfsara.nl
