<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{# Purpose: This template is meant to give the user an overview of a specific  #}
{#          HardwareUnit. Help for modifications can be found on:              #}
{#          http://www.djangobook.com/en/1.0/chapter04/                        #}
{#                                                                             #}
{# Date:    24 nov 2008                                                        #}
{# Author:  Sil Westerveld                                                     #}
{# Contact: sil.westerveld@sara.nl                                             #}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>Stored info of HardwareUnit {{machine.name}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="/site_media/cmts.css" rel="stylesheet" type="text/css" />
</head>

<body>
<h1>HardwareUnit</h1>
<p>Requested HardwareUnit {{ machine.id }} ({{ machine }}).</p>
<table>
<tr>
  <td>Cluster</td>
  <td>{{ machine.cluster }}</td>
</tr>
<tr>
  <td>Physical location</td>
  <td>
    Rack: {{ machine.rack }}<br />
    Slot: {{ machine.first_slot }}<br />
  </td>
</tr>
<tr>
  <td>Model</td>
  <td>{{ machine.model }} ({{ machine.model.vendor }})</td>
</tr>
<tr>
  <td>Role</td>
  <td>{{ machine.role }}</td>
</tr>
<tr>
  <td>Interfaces</td>
  <td>
    <ul>
    {% for interface in machine.interfaces.all %}
    <li>
      mac: {{ interface.mac }}<br />
      network: {{ interface.network }}<br />
      ip: {{ interface.ip }}<br />
      name: {{ interface.name }}<br />
    </li>
    {% endfor %}
    </ul>
  </td>
</tr>
<tr><td></td></tr>
</table>
</body>
